<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
    <!-- JQuery -->
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>

    <!-- IP와 국가명 추출하는 코드 -->
    <script>
        $.ajax({
            url:"https://api.ip.pe.kr/json"
        }).done(function (api) {
            $("#ip").text(api.ip);
            $("#country").text(api.country_name.en);
        }).fail(function () {
            alert("로딩하는데 실패하였습니다.");
        });
    </script>

</head>
<body>

    <h2>아이피와 국가 확인</h2>
    
    <p>IP: <span id="ip">검색 중...</span></p>
    <p>국가: <span id="country">검색 중...</span></p>


</body>
</html>