<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 등록</title>

    <!-- JQuery -->
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    
    <!-- IP와 국가명 추출하는 코드 -->
    <script>
        $(function(){
            // $("#submitBtn").on("click",getLstm);
            init();
        })

        // function getLstm() {
        //     let prodName = $("#prodName").val();
        //     let prodDesc = $("#prodDesc").val();

        //     $.ajax({
        //         url: "/product/getLstm",
        //         method:"GET",
        //         data : {"prodName": prodName , "prodDesc": prodDesc },
        //         success: function (resp) {
        //             console.log(resp);
        //             //console.log(typeof resp);

        //             //let data1 = JSON.stringify(resp);
        //             //console.log(data1);
        //             //console.log(typeof data1);

        //             //let data2 = JSON.parse(resp);
        //             //console.log(data2);
        //             //console.log(typeof data2);
        //             // if (resp.length > 0) {
        //             //     console.log(resp[0]);
        //             //     let lstm_predict = resp[0]["lstm_predict"];
        //             //     let lstm_predict_proba = resp[0]["lstm_predict_proba"];
        //             //     console.log("lstm_predict: " + lstm_predict + ", lstm_predict_proba: " + lstm_predict_proba);
        //             // }

        //             // for (let i = 0; i < data.length; i++){
        //             //     if ("lstm_predict" in data[i]) {
        //             //         let lstm_predict = data[i]['lstm_predict'];
        //             //         let lstm_predict_proba = data[i]['lstm_predict_proba'];
        //             //         console.log("lstmPredict : " + lstm_predict + ", lstmPredictProba : " + lstm_predict_proba);

        //             //         $("lstmPredict").val(Boolean.parseBoolean(lstm_predict));
        //             //         $("lstmPredictProba").val(Float.parseFloat(lstm_predict_proba));
        //             //     }
        //             // }
        //         }
        //     })
        // }
        

        function init() {
            $.ajax({
                url: "https://api.ip.pe.kr/json"
            }).done(function (api) {
                $("#remoteIp").val(api.ip);
                $("#country").val(api.country_name.en);
                $("#country_cd").val(api.country_code);
            }).fail(function () {
                alert("로딩하는데 실패하였습니다.");
            });
        }
    </script>



</head>
<body>

    <a th:href="@{product/getIp}">아이피와 국가 추출</a>
    
    <h2>상품 등록</h2>

    <form th:action="@{/product/insert}" method="post" enctype="multipart/form-data">
        상품명 : <input type="text" id="prodName" name="prodName"> <br>
        상품설명 : <input type="text" id="prodDesc" name="prodDesc"> <br>
        상품 대표 이미지 : <input type="file" name="uploadFile" id="uploadFile"> <br>
        상품가격 :  $US <input type="number" name="price"> <br>
        원산지 : <input type="text" name="origin"> <br>
        최소주문수량 : <input type="number" name="moq">
        단위 : <input type="text" name="unit"> <br>
        카테고리 : <select name="category" id="">
                        <option value="FOOD_BEVERAGE">FOOD_BEVERAGE</option>
                        <option value="CHEMICAL">CHEMICAL</option>
                        <option value="HEALTH_MEDICAL">HEALTH_MEDICAL</option>
                        <option value="ELECTRONIC">ELECTRONIC</option>
                        <option value="COSMETIC">COSMETIC</option>
                    </select>
                    <br>
        아이피 : <input type="text" name="remoteIp" id="remoteIp"  readonly>
        국가명 : <input type="text" name="country" id="country" readonly>
        국가코드 : <input type="text"  id="country_cd" readonly> <br>
        판매자 : <input type="text" name="customerId">
        
        <!-- <input type="hidden" id="lstmPredict" name="lstmPredict">
        <input type="hidden" id="lstmPredictProba" name="lstmPredictProba">
        <input type="hidden" id="prohibit" name="prohibit"> -->


        <br>
        <input type="submit" id="submitBtn" value="등록">
    </form>

</body>
</html>